@{
    ViewData["Title"] = "Home Page";
}



<div class="portfolio-homepage">
    <div class="container">
        <div class="portfolio-intro">
            <img src="~/resources/images/avatar.jpg" alt="Profile picture" class="portfolio-image">            
            <h1 class="portfolio-title">Hi, I'm Nauman</h1>
            <h2 class="portfolio-subtitle">A Software Engineer based in Rome, Italy</h2>
            <p class="portfolio-description">
                [Add a brief description of yourself, your profession, and what you do. For example, "I am a full-stack web developer with a passion for building responsive and user-friendly web applications using the latest technologies."]
            </p>
            <br />
            <a asp-controller="Home" asp-action="Skills" class="portfolio-button">See my skills</a>
        </div>
        <div class="portfolio-projects">
            <h2 class="portfolio-subtitle">Featured Projects</h2>
            <div class="portfolio-project">
                <a href="#"><img src="@Url.Content("~/images/project1.jpg")" alt="FRS"></a>
                <h3><a href="#">FRS</a></h3>
                <p>
                    [Add a brief description of the project and its features]
                </p>
            </div>
            <div class="portfolio-project">
                <a href="#"><img src="@Url.Content("~/images/project2.jpg")" alt="QAS"></a>
                <h3><a href="#">QAS</a></h3>
                <p>
                    [Add a brief description of the project and its features]
                </p>
            </div>
            <div class="portfolio-project">
                <a href="#"><img src="@Url.Content("~/images/project3.jpg")" alt="2 Way Job"></a>
                <h3><a href="#">2 Way Job</a></h3>
                <p>
                    [Add a brief description of the project and its features]
                </p>
            </div>
        </div>
    </div>
</div>
