@{
    ViewData["Title"] = "Home Page";
}



<div class="portfolio-homepage">
    <div class="container">
        <div class="portfolio-intro">
            <img src="~/resources/images/avatar.jpg" alt="Profile picture" class="portfolio-image">            
            <h1 class="portfolio-title">Hi, I'm Nauman</h1>
            <h2 class="portfolio-subtitle">A Software Engineer based in Rome, Italy</h2>
            <p class="portfolio-description">
                Software Engineer with 1+ years of experience in .NET Development, seeking full-time .NET Developer roles.
            </p>
            <br />
            <a asp-controller="Home" asp-action="Skills" class="portfolio-button">See my skills</a>
        </div>
        <h2 class="portfolio-subtitle">Featured Projects</h2>
        <div class="portfolio-projects">
            <div class="portfolio-project">
                <a href="#"><img src="~/resources/images/project1.jpg")" alt="FRS"></a>
                <h3><a href="#">FRS</a></h3>
                <p>
                    Developed a comprehensive tool for operators to register
                    faults and map them with fabric on the machines in the textile industry.
                </p>
            </div>
            <div class="portfolio-project">
                <a href="#"><img src="~/resources/images/project2.jpg")" alt="QAS"></a>
                <h3><a href="#">QAS</a></h3>
                <p>
                    Designed and implemented a robust Quality Assurance System with a primary
                    focus on Angular.
                </p>
            </div>
            <div class="portfolio-project">
                <a href="#"><img src="~/resources/images/project3.jpg")" alt="2 Way Job"></a>
                <h3><a href="#">2 Way Job</a></h3>
                <p>
                    Designed and implemented a .NET project for synchronizing updated
                    data across multiple machines through LAN. The system allowed for bidirectional communication.
                </p>
            </div>
        </div>
    </div>
</div>
