@{
    ViewData["Title"] = "Skills";
}

<h1>@ViewData["Title"]</h1>
<table>
    <tr>
        <th>Category</th>
        <th>Skills</th>
    </tr>
    <tr>
        <td>Technical Skills</td>
        <td>
            <ul>
                <li>Programming Languages: C#, JavaScript, TypeScript</li>
                <li>.NET Ecosystem: .NET Framework/Core 5-8, ASP.NET Core MVC, Entity Framework Core, WPF (Windows Presentation Foundation), MVVM (Model-View-ViewModel)</li>
                <li>Frontend Technologies: HTML5, CSS, Angular 17, jQuery</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Database Management</td>
        <td>MySQL, MSSQL Server</td>
    </tr>
    <tr>
        <td>Web Technologies</td>
        <td>RESTful API, JSON, XML</td>
    </tr>
    <tr>
        <td>Soft Skills</td>
        <td>
            <ul>
                <li>Problem Solving: Critical Thinking, Analytical Skills</li>
                <li>Collaboration and Communication: Team Collaboration, Effective Communication</li>
                <li>Time Management: Efficient Time Management</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Other</td>
        <td>
            <ul>
                <li>Software and Infrastructure: .NET CLI, Virtual Machines (VMs), Virtual Private Servers (VPS)</li>
            </ul>
        </td>
    </tr>
</table>